extends ../_component/layout/template
block config
  -
    var myTitle = 'Who came first? The human or the bee?';
    var myDescription
    var landingPage = 'history';

block content
  h1=myTitle
  p=myDescription
  h6 100 million years ago
  p The earliest fossil evidence of bees found to date is preserved in a pieceof amber found in a mine in northern Burma. It is believed to date back as far as 100 million years to the time when bees and wasps split into two different lineages. The fossilised insect appears to share features both common to the bee and wasp, but is considered to be more bee than wasp.
  h6 35 million years ago
  p The earliest known fossil evidence of the honey bee (genus Apis) was found in Europe and is believed to date back 35 million years. However, it is widely believed that the honey bee first evolved in eastern Africa some 40 million years ago and spread northwards into Europe and Eastwards into Asia. Honey bees did not appear in the Americas, Australia or New Zealand until European settlers introduced them in the 17th century.
  h6 7000 years ago (5000 BC)
  p The earliest known evidence of mankind’s interaction with bees were found on cave paintings discovered in Spain dating back between 6000 and 8000 years ago. Our Neolithic ancestors would have gathered honey from wild colonies of bees.
  h6 2400 BC
  p Earliest evidence of bees being “kept” by humans. Illustrations from ancient Egypt show the use of hives as long ago as 2400 BC. Hittite scriptures recording the theft of hives were found in Anatolia (Turkey) dating back to 1500 BC. The Mesopotamian civilisation was first recorded as having kept bee in hives from at least 700 BC although their use of hives could have been much earlier due to records showing their harvesting of honey from as long ago as 2450 BC.
  h6 1662 AD
  p Honey bee (Apis mellifera) first introduced to the east coast of America by British settlers. Bees were kept in traditional skeps and simple wooded boxes. It took around 230 years before beekeeping reached the west coast.
  h6 1853 AD
  p Invention of the wooden beehive with movable frames and “bee space” between frames by Rev L Langstroth in America. The new design revolutionised the way bee keepers managed their bees, allowing much more control over bee colonies.
  h6 1904 AD
  p Varroa mite first discovered (and described by Oudesmans) in Java in 1904. The first infestations of honey bees (Apis cerana) were found in 1958 in Japan with colonies of the Western honey bee (A. mellifera) believed to become infected around 1960-62 following their importation to the Philippines.
  h6 1957 AD
  p During experiments to improve local bee stocks by cross-breeding African bees with European bees, the accidental release of some of the newly created hybrids in Sau Paolo state in Brazil led to the creation of the Africanised “killer” bee.
  h6 1992 AD
  p The varroa mite (Varroa destructor) finds its way to the UK.