
-
  var title = "Did you know!"
div.containers  
  div
    h3=title
    p.did-you-know__container
  div
    h3=title
    p.did-you-know__container
  div
    h3=title
    p.did-you-know__container

script.
  var contentList = [
    "Bees are the only insect in the world that make food that people can eat",
    "Honey contains all of the substances needed to sustain life, including enzymes, water, minerals and vitamins",
    "Eating honey can help you smarter! It is the only food to contain ‘pinocembrin’ that is an antioxidant that improves brain function",
    "One bee will only make 1/12 of a teaspoon on honey in its entire life",
    "Many plants rely on insects like bees in order to be pollinated; which is why they provide nectar to say thanks",
    "A colony of bees can contain between 20,000 and 60,000 bees, but only one queen bee",
    "A bee’s wings beat 190 times a second, that’s 11,400 times a minute!",
    "The queen bee will lay around 1,500 eggs a day",
    "Honey has natural preservatives so that it won’t go bad",
    "Honey bees only sting when they sense danger or to protect the colony. A worker bee dies after it has stung.",
    "Bees are able to extract heavy metals and pollutants when producing honey, so they can actually create very clean honey in the city.",
    "Bees are essential for food production. It is estimated that the total value of crops pollinated by insects is £510m per year in the UK."
  ];
  //- asta il tinem pentru ca sa vezi de unde ai pornit, dar il transformam intr-o functie
  // var randomContent = contentList[Math.floor(Math.random() * contentList.length)];
  var randomContent = () => {
    return contentList[Math.floor(Math.random() * contentList.length)];
  }
  document
    .querySelectorAll('.did-you-know__container')
    .forEach(didYouKnow => didYouKnow.innerHTML = randomContent())



