.item1, .item2, .item3, .item4, .item5 {
  border: 0.15rem solid black;
  margin: 1rem; 
  border-radius: 1rem;
  padding: 0.5rem;

  h3 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    line-height: 1.2rem;
    text-align: center;
  }
}