// .containers {
//   position: fixed;
//   // margin-right: 5.3rem;
//   margin-bottom: auto;
// }

h3 {
  font-weight: bold;
  text-align: right;
  font-size: 1.2rem;
  padding: 0.2rem;
  margin-right: 1rem;
  
}

.did-you-know__container {
  border: 0.2rem solid yellow;
  border-radius: 1rem;
  padding: 0.3rem;
  margin-right: 1rem;
  line-height: 1.3rem;
  background-color: rgba(255, 197, 36, 0.733);
}
