block aside
#grid
  .grid-content
    .item1
      h3 Did you know!
      p 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie ligula eget lobortis laoreet.
    .item2
      h3 Did you know!
      p 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie ligula eget lobortis laoreet.
    .item3
      h3 Did you know!
      p 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie ligula eget lobortis laoreet.
    .item4
      h3 Did you know!
      p 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie ligula eget lobortis laoreet.
    .item5
      h3 Did you know!
      p 5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie ligula eget lobortis laoreet.
