block aside
  #grid
    .grid-content
      .item1
        h3 Did you know!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vivamus molestie ligula eget lobortis laoreet. Aenean porttitor massa ac lacus ultricies, 
        ut mattis neque facilisis. Mauris rutrum leo quam, nec hendrerit.
      .item2
        h3 Did you know!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vivamus molestie ligula eget lobortis laoreet. Aenean porttitor massa ac lacus ultricies, 
        ut mattis neque facilisis. Mauris rutrum leo quam, nec hendrerit.
      .item3
        h3 Did you know!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vivamus molestie ligula eget lobortis laoreet. Aenean porttitor massa ac lacus ultricies, 
        ut mattis neque facilisis. Mauris rutrum leo quam, nec hendrerit.
