doctype html
html
//- - var baseUrl = 'http://localhost:3000'

block config
head
  title=myTitle
  meta(name="description", content=myDescription)
  link(rel="stylesheet", href="/style.css")
body
  include ../header/header
  .img-head
    .headline
      h1 Welcome to AnaBee.co.uk
  article
    block content
  aside
    include ../aside/aside
  include ../footer/footer