extends ../_component/layout/template

block config
  -
    var myTitle = 'Who came first? The human or the bee?';
    var myDescription
    var landingPage = 'gallery';

block content
  h1=myTitle
  p=myDescription

  .container
    .main_img
      img#current(src="/asset/image/gallery/1.jpg")
    .imgs
      img(src="/asset/image/gallery/1.jpg")
      img(src="/asset/image/gallery/2.jpg")
      img(src="/asset/image/gallery/3.jpg")
      img(src="/asset/image/gallery/4.jpg")

  script(src="asset/js/main.js")

  //- -
    const current = document.querySelector("#current");
    const imgs = document.querySelector('.imgs img');
    const opacity = 0.6;
    imgs[0].style.opacity = opacity;



