extends ../_component/layout/template

block config
  -
    var myTitle = 'Who came first? The human or the bee?';
    var myDescription
    var landingPage = 'gallery';

block content
  h1=myTitle
  p=myDescription
  .row
    .column
      img(src="https://picsum.photos/680/450", onclick="openModal();currentSlide(1)" class="hover-shadow")
    .column
      img(src="https://picsum.photos/680/450", onclick="openModal();currentSlide(2)" class="hover-shadow")
    .column
      img(src="https://picsum.photos/680/450", onclick="openModal();currentSlide(3)" class="hover-shadow")
    .column
      img(src="https://picsum.photos/680/450", onclick="openModal();currentSlide(4)" class="hover-shadow")