doctype html
html
  head
    title honey for sale
    meta(name="description" content="various types of honey for sale")
  body

  header
    a(href="home") Home
    a(href="products") Products
    a(href="short history") Short History
    a(href="gallery") Gallery
    a(href="info") Info
    a(href="contact") Contact

  article
    h1 insert title here
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus ex vel diam molestie, 
    nec aliquam leo fermentum. In quis maximus enim, non ullamcorper ante. 
    Praesent eu mattis tellus, ac vestibulum lectus. Nulla et nibh sodales, tristique magna eu, pharetra justo. 
    Pellentesque non ultrices ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    In consequat augue hendrerit sem semper posuere. Donec non convallis tortor, vel aliquam ante. 
    Nulla est eros, egestas quis sem id, fermentum interdum orci. 
    In lorem odio, auctor non eros eget, consequat tincidunt dui. 
    Ut molestie dictum mi sit amet semper. Lorem ipsum dolor sit amet, consectetur. 

  nav
    h3 Did you know!
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Vivamus molestie ligula eget lobortis laoreet. Aenean porttitor massa ac lacus ultricies, 
    ut mattis neque facilisis. Mauris rutrum leo quam, nec hendrerit. 
    h3 Did you know!
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Vivamus molestie ligula eget lobortis laoreet. Aenean porttitor massa ac lacus ultricies, 
    ut mattis neque facilisis. Mauris rutrum leo quam, nec hendrerit. 
    h3 Did you know!
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Vivamus molestie ligula eget lobortis laoreet. Aenean porttitor massa ac lacus ultricies, 
    ut mattis neque facilisis. Mauris rutrum leo quam, nec hendrerit. 
  footer &copy: katweb 2018