extends _component/layout/template

block config
  -
    var myTitle = 'honey for sale';
    var myDescription = 'various types of honey for sale';
    var landingPage = 'Home';
    var activeLink = '';

block content
  h1 insert title here
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus ex vel diam molestie, nec aliquam leo fermentum. In quis maximus enim, non ullamcorper ante. Praesent eu mattis tellus, ac vestibulum lectus. Nulla et nibh sodales, tristique magna eu, pharetra justo. Pellentesque non ultrices ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat augue hendrerit sem semper posuere. Donec non convallis tortor, vel aliquam ante. 
  Nulla est eros, egestas quis sem id, fermentum interdum orci. In lorem odio, auctor non eros eget, consequat tincidunt dui. 
  Ut molestie dictum mi sit amet semper. Lorem ipsum dolor sit amet, consectetur. 
  p mos craciun #[a(href="/products") products] 
  