@import 'reset';
@import '_component/aside/aside';
@import 'products/products';
@import 'history/history';
@import 'gallery/gallery';

html, body {
  height: 100%;
}

html {
  width: 100%;
  background: 
    linear-gradient(30deg, #bdbdbd 12%, transparent 12.5%, transparent 87%, #bdbdbd 87.5%, #bdbdbd 0), 
    linear-gradient(150deg, #bdbdbd 12%, transparent 12.5%, transparent 87%, #bdbdbd 87.5%, #bdbdbd 0), 
    linear-gradient(30deg, #bdbdbd 12%, transparent 12.5%, transparent 87%, #bdbdbd 87.5%, #bdbdbd 0), 
    linear-gradient(150deg, #bdbdbd 12%, transparent 12.5%, transparent 87%, #bdbdbd 87.5%, #bdbdbd 0), 
    linear-gradient(60deg, #dbdbdb 25%, transparent 25.5%, transparent 75%, #dbdbdb 75%, #dbdbdb 0), 
    linear-gradient(60deg, #dbdbdb 25%, transparent 25.5%, transparent 75%, #dbdbdb 75%, #dbdbdb 0), #ccc;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-size: 80px 140px;
  
}

body {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr 44px 1fr 44px;
  font-family: arial, helvetica, sans-serif;
}
.img-head {
  grid-column: 1/3;
  grid-row: 1/2;
}
header {
  grid-column: 1/3;
  grid-row: 2/3
}

article {
  grid-column: 1/2;
  grid-row: 3/4;
}

aside {
  grid-column: 2/3;
  grid-row: 3/4;
}

footer {
  grid-column: 1/3;
  grid-row: 4/5;
}

header,
footer {
  background-color: yellow;
}

header {
  display: inline-table;
  a{
    display: inline-table;
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    line-height: 2rem;
    font-size: 1.4rem;
    color: #000;
  }
}

.img-head {
  background-image: linear-gradient(rgba(214, 203, 100, 0.5), rgba(104, 105, 48, 0.253)), url("asset/image/header.jpg");
  background-size: cover;
  display: block;
  height: 200px;
}

.headline {
  h1{
  color: rgb(58, 245, 189);
  font-size: 3rem;
  text-align: center;
  }
}

article {
  padding: 0.8rem;
}

h1 {
  font-size: 2.2rem;
  text-transform: capitalize;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 80%;
}
