@import 'reset';
@import '_component/aside/aside';

html, body {
  height: 100%;
}

html {
  width: 100%;
  background:
  radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
  linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
  background-size:40px 60px;
  }

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr 44px 1fr 44px;
  font-family: arial, helvetica, sans-serif;
}
.img {
  grid-column: 1/3;
  grid-row: 1/2;
}
header {
  grid-column: 1/3;
  grid-row: 2/3
}

article {
  grid-column: 1/2;
  grid-row: 3/4;
}

aside {
  grid-column: 2/3;
  grid-row: 3/4;
}

footer {
  grid-column: 1/3;
  grid-row: 4/5;
}

header,
footer {
  background-color: yellow;
}

header {
  display: inline-table;
  a{
    display: inline-table;
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    line-height: 2rem;
    font-size: 1.4rem;
    color: #000;
  }
}

.img {
  background-size: contain;
  display: flex;
  img {
    width: 100%;
  }
}

article {
  padding: 0.8rem;
}

h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 80%;
}
