extends ../_component/layout/template

block config
  -
    var myTitle = 'Find your flavor, color and taste';
    var myDescription = 'With our selections of natural made honey from the hills of Transilvanya and Moldavia, you will find the best flavor for a sweeter life';
    var landingPage = 'products';
    var activeLink = '';

  header
    //- include ../_component/header/header
    //- .logo
block content
  h1=myTitle
  p=myDescription
  .all-products
    .acacia-honey
      img(src="/asset/image/acacia-honey.jpg" alt="picture with acacia honey")
      h2 #[a(href='acacia honey') Acacia Honey] 
      p bfhjdsbfjhs
    .linden-honey
      img(src="/asset/image/linden-honey.jpg" alt="picture with lynden honey")
      h2 #[a(href='') Linden Honey]
      p dnjkbsf
    .polyfloral-honey
      img(src="/asset/image/raw-polyfloral-honey.jpg" alt="picture with raw polyfloral honey")
      h2 #[a(href='') Polyfloral Honey]
      p fbhdvsfuvau
