extends ../_component/layout/template

block config
  -
    var myTitle = 'sortimente';
    var myDescription = 'borcane';
    var landingPage = 'products';
    var activeLink = '';

  header
    //- include ../_component/header/header
    //- .logo
block content
    h1=myTitle
    .all-products
      h2 dnashjbfaj
