.acacia-honey, .linden-honey, .polyfloral-honey{
  img{
    max-width: 40%;
    max-height: auto;
    // border-radius: 50%;
  }
  display: block;
  border: 0.1rem solid black;
  padding: 0.5rem;
  margin: 1rem 0;
}