//- extends ../_component/layout/template
block config
  -
    var title=myTitle
    var description=myDescription
    var activeLink = 'products';

html
  header
    .logo
  body
    .all-products
      h2 dnashjbfaj
